.container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 200px);
}

.pokemon-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
box-shadow: 1px 5px 10px gray;
border-radius: 10px;
&:hover{
  transform: scale(1.1);
}
.pokemon-image{
  margin: 30px;
  width: 200px;
}
}
.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 400px;
  }
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
  }
}

.pokemon-spotlight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  img{
    width: 200px;
    
  }
}