.container{
  display: grid;
  grid-row: 400px;
}

.pokemon-item{
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin-top: 50px;
.pokemon-image{
  margin: 30px;
  width: 200px;
}
}
.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 400px;
  }
}