body {
  background-color: rgb(195, 231, 255);
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 200px);
}

.pokemon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 1px 5px 10px gray;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.766);
  &:hover {
    transform: scale(1.1);
  }
  .pokemon-image {
    margin: 30px;
    width: 200px;
  }
}
.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 400px;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 10px;
  input {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    align-self: center;
    text-align: center;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: white;
  }
  .search-button {
    width: 30px;
    margin-left: 5px;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }
}

.spotlight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .pokemon-spotlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.766);
    width: 300px;
    height: 400px;
    border-radius: 20px;
    outline: black solid 3px;
    img {
      width: 200px;
    }
  }
}

.hide{
  display: none;
}
