body {
  background-color: rgb(195, 231, 255);
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 200px);
  row-gap: 10px;
}

.pokemon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 10px gray;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.766);
  margin: 10px;

  &:hover {
    transform: scale(1.1);
  }
  img {
    width: 150px;
  }
  h2 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 30px;
  }
}
.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 400px;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 10px;
  input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    align-self: center;
    text-align: center;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: white;
  }
  .search-button {
    width: 30px;
    margin-left: 5px;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }
 
}

.spotlight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .pokemon-spotlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.766);
    width: 350px;
    height: 450px;
    border-radius: 20px;
    outline: black solid 3px;

    .specs {
      font-size: 18px;
      font-weight: 500;
      font-family: "Chakra Petch", sans-serif;
    }

    img {
      width: 200px;
    }
  }
}

.hide {
  display: none;
}

.name {
  font-family: "Chakra Petch", sans-serif;
}

p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Chakra Petch", sans-serif;
}

.search-status{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(242, 255, 64);
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 10px;
}